/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Ubuntu&display=swap');

/* Coeur de la page */

body {
  background-color: #ffffaf;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/************************| Page d'accueil et thèmes |************************/

/* Organisation de la page d'accueil et de thèmes et propriétés ne changeant jamais*/

.home, .theme-options {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home h1, .theme-options h1 {
  color: white;
  font-family: 'Kalam', cursive;
  font-size: 36px;
  margin-bottom: 20px;
}

.home button, .theme-options button{
  background-color: #fff; /* Blanc */
  color: #4CAF50;
  font-family: 'Kalam', cursive;
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.home button:hover, .theme-options button:hover {
  background-color: #4CAF50;
  color: white;
}

/* Thème par défaut */
body.default {
  background-color: #ffffaf;
}

.home.default, .theme-options.default {
  background-color: #4CAF50;
}

/* Thème 1 */
body.theme1, .home.theme1, .theme-options.theme1 {
  background-color: #3498db;
}

.home button.theme1, .theme-options button.theme1 {
  color: #3498db;
}

.home button.theme1:hover, .theme-options button.theme1:hover {
  background-color: #3498db;
  color:white;
}

/* Thème 2 */
body.theme2, .home.theme2, .theme-options.theme2 {
  background-color: #e74c3c;
}

.home button.theme2, .theme-options button.theme2 {
  color: #e74c3c;
}

.home button.theme2:hover, .theme-options button.theme2:hover {
  background-color: #e74c3c;
  color:white;
}

/************************| Puissance 4 |************************/

/* Indication de tour de jeu */
#player-turn {
  display: block;
  color: white;
  font-family: 'Kalam', cursive;
  font-size: 18px;
  font-weight: bold;
  width:468px;
  padding: 10px 0 10px 0;
  background-color: blue; 
  border-radius: 10px 10px 0 0; 
}

/* Grille de jeu */
#game {
  display: inline-block;
  text-align: center;
  background-color: blue;
  padding: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

/* Pieds arrondis */
#game.has-feet::before, #game.has-feet::after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 20px; 
  height: 20px;
  background-color: blue;
}

#game.has-feet::before {
  left: 0;
  border-radius: 0 50% 50% 50%;   
}

#game.has-feet::after {
  right: 0;
  border-radius: 50% 0 50% 50%;  
}

/* Cellules de la grille */
.col {
  width:50px;
  height:50px;
  border-radius: 50%;
  background-color: #ffffaf;
  border:2px solid black;
  display: inline-block;
  margin: 5px;
  position: relative;
}

.col.empty {
  cursor:pointer;
}

/* Remplissage des cellules */
.col.red {
  background-color: red;
}

.col.yellow {
  background-color: yellow;
}

.col.pred {
  background-color: darkred;
}

.col.pyellow {
  background-color: darkgoldenrod;
}

/* Bouton pour recommencer et revenir à l'accueil*/
#restart, #return-to-home {
  margin-top: 20px; 
  background-color: blue;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Kalam', cursive;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#restart:hover, #return-to-home:hover {
  background-color: darkblue;
  transition:0.2s ease-in-out;
}