/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Ubuntu&display=swap');

/* Coeur de la page */
body {
  background-color: #ffffaf;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/************************| Page d'accueil, sélection des jetons, règles et thèmes |************************/

/* Page d'accueil, de la sélection des jetons, des règles et des thèmes*/
.home, .token-selection, .rules, .theme-options {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #4CAF50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home h1, .token-selection h1, .rules h1, .theme-options h1 {
  color: white;
  font-family: 'Kalam', cursive;
  font-size: 36px;
  margin-bottom: 20px;
}

.home button, .token-selection button, .rules button, .theme-options button{
  background-color: #fff; /* Blanc */
  color: #4CAF50;
  font-family: 'Kalam', cursive;
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.home button:hover, .token-selection button:hover, .rules button:hover, .theme-options button:hover {
  background-color: #4CAF50;
  color: white;
}

.rules p, .token-selection p {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.rules p {
  text-align: justify;
}

.token-selection p {
  text-align: center;
  margin-bottom: 20px;
}

#audioControls, #audioControls a {
  color:white;
  font-family: 'Ubuntu', sans-serif;
  font-size:12px;
  text-decoration: none;
}

#audioControls a:hover {
  text-decoration: underline;
  color:yellow;
  transition:0.3s ease-in-out;
}

/* Thèmes */
body.default {
  background-color: #ffffaf;
}

.home.default, .token-selection.default, .rules.default .theme-options.default {
  background-color: #4CAF50;
}

body.theme1, .home.theme1, .token-selection.theme1, .rules.theme1, .theme-options.theme1 {
  background-color: #3498db;
}

.home button.theme1, .token-selection button.theme1, .rules button.theme1, .theme-options button.theme1, #audioControls button.theme1 {
  color: #3498db;
}

.home button.theme1:hover, .token-selection button.theme1:hover, .rules button.theme1:hover, .theme-options button.theme1:hover, #audioControls button.theme1:hover {
  background-color: #3498db;
  color:white;
}

body.theme2, .home.theme2, .token-selection.theme2, .rules.theme2, .theme-options.theme2 {
  background-color: #e74c3c;
}

.home button.theme2, .token-selection button.theme2, .rules button.theme2, .theme-options button.theme2, #audioControls button.theme2 {
  color: #e74c3c;
}

.home button.theme2:hover, .token-selection button.theme2:hover, .rules button.theme2:hover, .theme-options button.theme2:hover, #audioControls button.theme2:hover {
  background-color: #e74c3c;
  color:white;
}

/* Page de sélection des jetons*/
#token-grid {
  display: grid;
  grid-template-columns: repeat(10, 50px); /* 10 colonnes pour les jetons */
  grid-template-rows: repeat(4, 50px); /* 4 lignes pour les jetons */
  gap: 10px;
  margin: 20px 10px 20px 10px;
}

.token-selector img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #000; 
}

/* Ajoutez ces styles pour l'effet de survol */
.token-selector:hover {
  transform: scale(1.1); /* Ajustez la mise à l'échelle selon votre préférence */
  transition: transform 0.3s ease-in-out; /* Ajoutez une transition pour un effet fluide */
}

.selected-player1, .selected-player2 {
  visibility: hidden;
}

/************************| Puissance 4 |************************/

/* Indication de tour de jeu et message de victoire */
#player-turn, #victory-message {
  display: block;
  color: white;
  font-family: 'Kalam', cursive;
  font-size: 18px;
  font-weight: bold;
  width:468px;
  padding: 10px 0 10px 0;
  background-color: blue; 
}

#player-turn {
  border-radius: 10px 10px 0 0; 
}

#victory-message {
  border-radius: 10px;
}


/* Grille de jeu */
#game {
  display: inline-block;
  text-align: center;
  background-color: blue;
  padding: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

/* Pieds arrondis */
#game.has-feet::before, #game.has-feet::after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 20px; 
  height: 20px;
  background-color: blue;
}

#game.has-feet::before {
  left: 0;
  border-radius: 0 50% 50% 50%;   
}

#game.has-feet::after {
  right: 0;
  border-radius: 50% 0 50% 50%;  
}

/* Cellules de la grille */
.col {
  width:50px;
  height:50px;
  border-radius: 50%;
  background-color: #ffffaf;
  border:2px solid black;
  display: inline-block;
  margin: 5px;
  position: relative;
}

.col.empty {
  cursor:pointer;
}

/* Remplissage des cellules */
.col.un {
  content: var(--player1-image);
}

.col.deux {
  content: var(--player2-image);
}

.col.pun {
  content: var(--player1-image);
  opacity: 0.7;
}

.col.pdeux {
  content: var(--player2-image);
  opacity: 0.7;
}

/* Bouton pour recommencer et revenir à l'accueil*/
#restart, #return-to-home-from-game {
  margin-top: 20px; 
  background-color: blue;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Kalam', cursive;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#restart:hover, #return-to-home-from-game:hover {
  background-color: darkblue;
  transition:0.2s ease-in-out;
}